# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/.next

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.vscode/
.vs/

e2e/reports/
e2e/protractor.conf.js
e2e/**/*.js
*.log
src/TESTS*.xml
src/coverage/
.vscode/*.*
Build/Artifacts/
Build/Wix/Installer/InstallerCA/obj/x86/Debug/
Build/Wix/Installer/InstallerCA/bin/
Build/Wix/Installer/packages/
Build/Wix/Installer/InstallerCA/obj/
Build/Wix/Installer/Installer/bin/
Build/Wix/Installer/Installer/obj/
Build/Wix/Installer/Bootstrapper/bin/
Build/Wix/Installer/Bootstrapper/obj/
Build/Wix/Installer/CustomBA/bin/
Build/Wix/Installer/CustomBA/obj/
